{% load static %}
{% load sadatabase_tt %}
{% for field_name, data in field_dict.items %}
    <div class="row">
        <div class="col">
            <h4><span class="badge bg-secondary">{{ field_name|readable }}</span></h4>
        </div>
        <div class="col">
            {% if data|get_type != "char" and data|get_type != "json" %}
            <select name="{{ field_name|op }}" class="form-select comp-select" aria-label="Default select example">
                <option value="=" selected>=</option>
                <option value=">=">>=</option>
                <option value="<="><=</option>
            </select>
            {% endif %}
        </div>
        <div class="col">
            {% if data|get_type == "char" or data|get_type == "json" %}
                <input class="form-control me-2 termsInput autocomplete" id="{{ field_name }}" name="{{ field_name }}" type="search" value="{{ data|get_default }}">
            {% elif data|get_type == "date" %}
                <input class="form-control me-2 termsInput autocomplete" id="{{ field_name }}" name="{{ field_name }}" type="date" value="{{ data|get_default }}">
            {% else %}
                <input class="form-control me-2 termsInput autocomplete" id="{{ field_name }}" name="{{ field_name }}" type="number" value="{{ data|get_default }}">
            {% endif %}
        </div>
        <div class="col-1">
            <span class="align-bottom">
                <a id="remove-term" onclick="changeField('{{ field_name }}')">
                    <img src="{% static 'bootstrap_icons/x-lg.svg' %}" alt="Remove">
                </a>
            </span>
        </div>
    </div>
    <br>
    {% if data|get_type == "char" %}
        <script>
          $( function() {
            let vals = [
                {% for choice in field_name|get_obj %}
                    "{{choice|readable}}",
                {% endfor %}
            ];
            $( "#{{ field_name }}" ).autocomplete({
              source: vals
            });
          } );
        </script>
{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>#}
{#        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>#}
{#        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />#}
    {% endif %}
{% endfor %}